.importScreen {
    justify-items: center;
    align-items: center;
}

.selectionBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border: 0.5px #676767 solid;
    color: #676767;
    background-color: transparent;
    width: 10vw;
    height: 10vh;
    min-width: 300px;
    min-height: 180px;
    cursor: pointer;
    border-radius: 15px;
}
.selectionBox:hover {
    border: 0.75px #ff0000 solid;
    background-color: #b3b3b310;
}

.horizontalDivider {
    width: 90vw;
    border-top: 0.5px #b4b4b4 solid;
    margin: 20px 0px;
}

.documentParent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 20px;
    justify-content: center;
}

.documentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border: 0.5px #aaaaaa solid;
    color: #676767;
    background-color: transparent;
    width: 10vw;
    height: 10vh;
    min-width: 280px;
    min-height: 250px;
    cursor: pointer;
    border-radius: 15px;
}
.documentBox:hover {
    border: 0.75px #ff0000 solid;
    background-color: #b3b3b310;
}

.documentBoxHeader {
    display: flex;
    align-content: left;
}

.documentBoxTitle {
    margin-right: 15px;
    font-size: 1em;
    align-items: left;
    text-align: left;
}

.documentBoxDescription {
    font-size: 0.8em;
    color: #a2a2a2;
    align-items: left;
    text-align: left;
}

.importLogo {
    filter: #a2a2a2;
    width: 8vw;
    height: 8vh;
    min-width: 80px;
    min-height: 80px;
    max-width: 150px;
    max-height: 150px;
    display: block;
    object-fit: contain;
}

.deleteLogo {
    width: 1vw;
    height: 1vw;
    min-width: 30px;
    min-height: 30px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 10px;
    padding: 8px;
    justify-content: bottom;
}
.deleteLogo:hover {
    background: #00000010;
}

.documentLogo {
    width: 5vw;
    height: 5vh;
    min-width: 50px;
    min-height: 50px;
    max-width: 80px;
    max-height: 80px;
    filter: #676767;
}

.messageBox {
    position: absolute;
    width: 10vw;
    min-width: 200px;
    max-width: 500px;
    height: 20px;
    padding: 8px;
    bottom: 5px;
    right: 5px;
    border-radius: 15px;
    z-index: 99;
}
.messageBox.clicked {
    display: none;
}

p {
    margin: 0;
}