.providerButton {
    width: 1vw;
    height: 1vw;
    min-width: 20px;
    min-height: 20px;
    max-width: 40px;
    max-height: 40px;
    border: none;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    -webkit-app-region: no-drag;
}
.providerButton:hover {
    background: #00000020;
}

.inputField {
    position: relative;
    font-family: "MPlusRounded", sans-serif;
    background-color: #00000020;
    height: 1vw;
    width: 70vw;
    justify-self: top;
    min-height: 20px;
    max-height: 40px;
    border: none;
    border-radius: 30px;
    padding: 10px;
}
.inputField:focus {
    background-color: #22222220;
    outline: 0px solid rgba(42, 42, 42, 0.2);
}

.selectedButton {
    background: #00000015;
}

.inputFieldUpdateButton {
    position: relative;
    font-family: "MPlusRounded", sans-serif;
    background-color: #00000000;
    height: 40px;
    width: 20vw;
    justify-self: top;
    border: none;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
}
.inputFieldUpdateButton:hover {
    background-color: #00000020;
}

.apiFieldParent {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 10px;
}