body {
    background: #dfdfea;
}

.appTitlebar {
    height: 36px;
    margin: 12px;
    -webkit-app-region: drag;
    display: flex;
    align-items: center;
}

.appTitlebar button,
.appTitlebar a,
.appTitlebar input {
    -webkit-app-region: no-drag;
}

.titleBtn {
    width: 14px;
    height: 14px;
    padding: 0;
    border: none;
    background: #ff4b4b;
    border-radius: 50%;
    box-shadow: 0 1px 0 rgba(0,0,0,0.15) inset;
    cursor: pointer;
    -webkit-app-region: no-drag;
}
.titleBtn:hover {
    background: #e04343;
}