.centerLogo {
    filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 70vw;
    max-height: 70vh;
    width: auto;
    height: auto;
    display: block;
}