.centerLogo {
    filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 30vw;
    display: block;
}