.importScreen {
    justify-items: center;
    align-items: center;
}

.selectionBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border: 0.5px #676767 solid;
    color: #676767;
    background-color: transparent;
    width: 10vw;
    height: 20vh;
    min-width: 300px;
    min-height: 180px;
    cursor: pointer;
    border-radius: 15px;
}
.selectionBox:hover {
    border-color: #3b3b3b;
    color: #3b3b3b;
    background-color: #3b3b3b10;
}

.documentParent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}

.documentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border: 0.5px #aaaaaa solid;
    color: #676767;
    background-color: transparent;
    width: 10vw;
    height: 10vh;
    min-width: 300px;
    min-height: 250px;
    cursor: pointer;
    border-radius: 15px;
}
.documentBox:hover {
    border: 0.75px #dc4648 solid;
}

.importLogo {
    filter: #a2a2a2;
    width: 8vw;
    height: 8vh;
    min-width: 80px;
    min-height: 80px;
    max-width: 150px;
    max-height: 150px;
    display: block;
    object-fit: contain;
}

.clickableLogo {
    width: 4vw;
    height: 4vh;
    min-width: 40px;
    min-height: 40px;
    max-width: 80px;
    max-height: 80px;
    display: block;
    object-fit: contain;
    cursor: pointer;
}

.deleteLogo {
    filter: #e54242;
}

.documentLogo {
    filter: #676767;
}

.messageBox {
    position: absolute;
    width: 10vw;
    min-width: 200px;
    max-width: 500px;
    height: 20px;
    padding: 8px;
    bottom: 5px;
    right: 5px;
    border-radius: 15px;
    z-index: 99;
}
.messageBox.clicked {
    display: none;
}

p {
    margin: 0;
    text-align: center;
}