.importScreen {
    justify-items: center;
    align-items: center;
}

.selectionBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border: 0.5px #676767 solid;
    color: #676767;
    background-color: transparent;
    width: 10vw;
    height: 20vh;
    min-width: 200px;
    min-height: 300px;
    cursor: pointer;
    border-radius: 15px;
}
.selectionBox:hover {
    border-color: #3b3b3b;
    color: #3b3b3b;
    background-color: #3b3b3b10;
}

.importLogo {
    filter: #a2a2a2;
    width: 8vw;
    height: 8vh;
    min-width: 80px;
    min-height: 80px;
    max-width: 150px;
    max-height: 150px;
    display: block;
    object-fit: contain;
}

p {
    margin: 0;
    text-align: center;
}