.titleBar {
    height: 2vw;
    margin: 15px;
    min-height: 30px;
    top: 0px;
    align-items: center;
    -webkit-app-region: drag;
    display: flex;
}

.titleBar button,
.titleBar a,
.titleBar input {
    -webkit-app-region: no-drag;
}

.titleBarButtonsParent {
    position: absolute;
    align-items: center;
    left: 15px;
}

.titleBarButtons {
    position: relative;
    width: 0.8vw;
    height: 0.8vw;
    min-width: 15px;
    min-height: 15px;
    max-width: 20px;
    max-height: 20px;
    margin: 5px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 1px 0 rgba(0,0,0,0.15) inset;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

.closeButton {
    background: #ff4b4b;
}
.closeButton:hover {
    background: #e04343;
}

.minimizeButton {
    background: #ffed4b;
}
.minimizeButton:hover {
    background: #e0c643;
}

.maximizeButton {
    background: #60ff4b;
}
.maximizeButton:hover {
    background: #5de043;
}

.titleLogo {
    width: 2.3vw;
    height: 2.3vw;
    min-width: 36px;
    min-height: 36px;
    max-width: 60px;
    max-height: 60px;
    position: absolute;
    justify-self: center;
    left: 50vw;
    right: 50vw;
}

.settings {
    width: 1.8vw;
    height: 1.8vw;
    min-width: 25px;
    min-height: 25px;
    max-width: 50px;
    max-height: 50px;
    width: 1.8vw;
    height: 1.8vw;
    position: absolute;
    justify-self: center;
    right: 15px;
}
